index <= 0/1-MAC/*.swp
/1-MAC/params.sv
/1-MAC/transcript
/1-MAC/vsim.wlf
/1-MAC/work/
/1-MAC/work_synth/
/1-MAC/alib-52/
/3.0-MEM/cds.lib
/3.0-MEM/lib.defs
/3.0-MEM/memory.sv
/3.0-MEM/params.sv
/3.0-MEM/transcript
/3.0-MEM/vsim.wlf
/3.0-MEM/wave.do
/3.0-MEM/work/
/3.0-MEM/.*
/3.1-MEM/cds.lib
/3.1-MEM/lib.defs
/3.1-MEM/memory.sv
/3.1-MEM/params.sv
/3.1-MEM/transcript
/3.1-MEM/vsim.wlf
/3.1-MEM/work/
/3.1-MEM/.*
/4-MMM/cds.lib
/4-MMM/lib.defs
/4-MMM/memory.sv
/4-MMM/params.sv
/4-MMM/transcript
/4-MMM/vsim.wlf
/4-MMM/work/
/4-MMM/.*
/4.1-MMM/cds.lib
/4.1-MMM/lib.defs
/4.1-MMM/memory.sv
/4.1-MMM/params.sv
/4.1-MMM/transcript
/4.1-MMM/vsim.wlf
/4.1-MMM/work/
/4.1-MMM/work_synth/
/4.1-MMM/.*
/4.1-MMM/default.svf
/4.1-MMM/alib-52/
